

@font-face {
    font-family: Lamborghini;
    src: url(Fonts/Lambo.ttf);
}

@font-face {
    font-family: BodyFont;
    src: url(Fonts/NotoSans-Bold.ttf);
}

@font-face {
    font-family: Mclaren;
    src: url(Fonts/Moki-Mono.otf);
    letter-spacing: 2px;
}
p {
    font-family: BodyFont;
    color: black;
}

p.mclaren {
    font-family: Mclaren;
    letter-spacing: -2px;
}

img.logo {
    min-height: 24%;
    max-height: 35%;
    max-width: 50%;
}
