
@font-face {
    font-family: Lamborghini;
    src: url(Fonts/Lambo.ttf);
}

@font-face {
    font-family: BodyFont;
    src: url(Fonts/NotoSans-Bold.ttf);
}

@font-face {
    font-family: Mclaren;
    src: url(Fonts/Moki-Mono.otf);
    letter-spacing: 2px;
}
@font-face {
    font-family: Ferrari;
    src: url(Fonts/ferro-rosso/FerroRosso.ttf);
}
@font-face {
    font-family: Porsche;
    src: url(Fonts/911porschav3.ttf);
}
@font-face {
    font-family: Koenigsegg;
    src: url(Fonts/Neographik\ W00.ttf);
}
@font-face {
    font-family: Pagani;
    src: url(Fonts/Arkitech.ttf);
}
@font-face {
    font-family: Outfit;
    src: url(Fonts/Outfit/Outfit-VariableFont_wght.ttf);
}

body{
    font-family: BodyFont;
    background-color: rgb(27, 27, 27);
    margin: 0;
    padding: 0;
}
span{color: white}
a {
    text-decoration: none;
    color: white;
}
section .logo-line {
    position: relative;
    margin-top: 60px;
    width: 100%;
}
section .logo-line img {
    position: absolute;
    border-radius: 50%;
    border: 3px solid white;
    background: url(LOGO/CarLogo.jpeg);
    top: -2500%;
    left: 50%;
    transform: translateX(-50%);
}
section .navbar{
    display: flex;
    background-color: rgba(0, 0, 0, 0.85);
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 7px;
    margin-top: 0px;
    box-shadow: 0 0 50px rgb(49, 49, 49);
}
section .navbar .navlinks-left{
    width: 42%;
    display: flex;
    padding-left: 8px;
    justify-content: space-between;
}
section .navbar .navlinks-right{
    width: 42%;
    padding-right: 8px;
    display: flex;
    justify-content: space-between;
}
section .navbar span{
    transition: 0.18s;
}   
section .navbar a:hover span{
    border-radius: 10px;
    color: black;
    border: 3px solid black;
    background-color: #fff;
    padding: 2px 5px;
}
section .navbar a{
    transition: 0.1s;
    text-shadow: 0 0 10px white;
}
section .socials .footnav{
    background-color: rgba(0, 0, 0, 0.85);
    text-align: center;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
section .socials .footnav .facebook{
    color: #1877F2;
    background-color: whitesmoke;
    padding: 8px 12px;
    border-radius: 7px;
    transition: 0.25s;
    box-shadow: 0 0 15px blue;
}
section .socials .footnav .facebook:hover{
    color: white;
    text-shadow: 0 0 5px#feda77;
    background-color: #1877F2;
}
section .socials .footnav .tiktok{
    color: #010101;
    text-shadow: -1px -2px 0 #25f4ee, 2px 1px 0 #fe2c55;
    background-color: whitesmoke;
    padding: 8px 10px;
    box-shadow: 0 0 15px red;
    border-radius: 7px;
    transition: 0.25s;
}
section .socials .footnav .tiktok:hover{
    color: white;
    background-color: #010101;
}
section .socials .footnav .twitter{
    color: #1877F2;
    padding: 8px 10px;
    text-shadow: 0px 0px 2px black, 0px 0px 12px white;
    background-color: whitesmoke;
    border-radius: 7px;
    transition: 0.25s;
    box-shadow: 0 0 15px cadetblue;
}
section .socials .footnav .twitter:hover{
    color: white;
    text-shadow: 0 0 5px#feda77;
    background-color: #1877F2;
}
section .socials .footnav a{
    border: 3px solid rgb(0, 0, 0);
    border-radius: 15px !important;
}
section .socials .footnav a:hover{
    border: 3px solid white;
}
