body{
    background-color: black;
}

@font-face {
    font-family: Lamborghini;
    src: url(Fonts/Lambo.ttf);
}

@font-face {
    font-family: BodyFont;
    src: url(Fonts/NotoSans-Bold.ttf);
}

@font-face {
    font-family: Mclaren;
    src: url(Fonts/Moki-Mono.otf);
    letter-spacing: 2px;
}
@font-face {
    font-family: Ferrari;
    src: url(Fonts/ferro-rosso/FerroRosso.ttf);
}
@font-face {
    font-family: Porsche;
    src: url(Fonts/911porschav3.ttf);
}
@font-face {
    font-family: Pagani;
    src: url(Fonts/Arkitech.ttf);
}

body{font-family: BodyFont;}
a {
    text-decoration: none;
}
section .logo-line {
    position: relative;
    margin-top: 60px;
    width: 100%;
}
section .logo-line img {
    position: absolute;
    top: -2500%;
    left: 50%;
    transform: translateX(-50%);
}
section .navbar{
    display: flex;
    background-color: red;
    justify-content: space-between;
}
section .navbar .navlinks-left{
    width: 42%;
    display: flex;
    padding-left: 8px;
    justify-content: space-between;
}
section .navbar .navlinks-right{
    width: 42%;
    padding-right: 8px;
    display: flex;
    justify-content: space-between;
}   
section .navbar a:hover{
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness:calc(25%);
}
section .slideshow{
    height: 100vh;
    margin-top: 20px;
    text-align: center;
    position: relative;

}
#slides {
    width: 100%;
    height: 100vh;
  }
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 20px;
    transition: 0.2s;
    cursor: pointer;
    border-radius: 50%;
    font-size: 18px;
  }
  
  button:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }















section .showcases{
    display: flex;
    flex-wrap: wrap;
}
section .showcases .sub{
    height: 100vh;
    flex: 1 1 calc(50%);
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 100vh;
}
section .showcases .sub h1:hover{
    background-color: rgba(0, 0, 0, 0.4) !important;
    color: white !important;
    font-size: 50px !important;
}
section .showcases .sub  h1, .showcases .sub a{
    border: 3px solid white;
    border-radius: 15px !important;
    transition: 0.2s;
}
section .showcases #lambo-show{
    background: url(Images/Lambo/Gallardo/SquadraCorse/Lamborghini-Gallardo-LP570-4-Squadra-Corse-45189.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
}
section .showcases #lambo-show h1{
    text-align: center;
    position: absolute;
    color: black;
    font-family: Lamborghini;
    font-size: 60px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 16px;
    top: 20px;
    left: 50%; 
    transform: translateX(-50%); 
    padding: 10px;
}
#lambo-show h1:hover{
    font-size: 70px !important;
}
section .showcases #lambo-show a{
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    position: absolute;
    color: white;
    border-radius: 5px;
    bottom: 20px;
    left: 0;
    right: 0;
}
section .showcases #mclaren-show{
    background: url(images/mclaren1demo.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
}
section .showcases #mclaren-show h1{
    text-align: center;
    position: absolute;
    font-family: Mclaren;
    color: black;
    font-size: 45px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 16px;
    top: 45px;
    left: 50%; 
    transform: translateX(-50%); 
    padding: 10px;
}
section .showcases #mclaren-show a{
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    position: absolute;
    color: white;
    border-radius: 5px;
    bottom: 20px;
    left: 0;
    right: 0;
}
section .showcases #ferrari-show{
    background: url(images/ferrari1demo.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
}
section .showcases #ferrari-show h1{
    text-align: center;
    position: absolute;
    color: black;
    font-size: 35px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 16px;
    top: 20px;
    left: 50%; 
    transform: translateX(-50%); 
    padding: 10px;
}
section .showcases #ferrari-show a{
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    position: absolute;
    color: white;
    border-radius: 5px;
    bottom: 20px;
    left: 0;
    right: 0;
}
section .showcases #porsche-show{
    background: url(images/porsche1demo.webp);
    background-size: cover;
    background-position: center;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
}
section .showcases #porsche-show h1{
    text-align: center;
    position: absolute;
    color: black;
    font-size: 35px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 16px;
    top: 20px;
    left: 50%; 
    transform: translateX(-50%); 
    padding: 10px;
}
section .showcases #porsche-show a{
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    position: absolute;
    color: white;
    border-radius: 5px;
    bottom: 20px;
    left: 0;
    right: 0;
}
section .showcases #koenigsegg-show{
    background: url(images/koenigsegg1demo.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
}
section .showcases #koenigsegg-show h1{
    text-align: center;
    position: absolute;
    color: black;
    font-size: 35px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 16px;
    top: 20px;
    left: 50%; 
    transform: translateX(-50%); 
    padding: 10px;
}
section .showcases #koenigsegg-show a{
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    position: absolute;
    color: white;
    border-radius: 5px;
    bottom: 20px;
    left: 0;
    right: 0;
}
section .showcases #pagani-show{
    background: url(images/pagani1demo.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
}
section .showcases #pagani-show h1{
    text-align: center;
    position: absolute;
    color: black;
    font-size: 35px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 16px;
    top: 20px;
    left: 50%; 
    transform: translateX(-50%); 
    padding: 10px;
}
section .showcases #pagani-show a{
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    position: absolute;
    color: white;
    border-radius: 5px;
    bottom: 20px;
    left: 0;
    right: 0;
}
section .showcases a{
    transition: 0.2s;
    padding: 10px 0;
    margin-left: 150px;
    margin-right: 150px;
    
}
section .showcases a:hover{
    transform: scale(1.15);
}
section .about-us {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 50px;
  gap: 40px;
}

section .about-us .text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
section img{
    transition: 0.2s
}
.header {
  font-size: 35px;
  max-width: 425px;
}

.plaintext {         
  max-width: 400px;     
}
section .about-us img:hover{
    transform: scale(1.16);
}

section .socials .footnav{
    background-color: red;
    text-align: center;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
section .socials .footnav .facebook{
    color: #1877F2;
    background-color: whitesmoke;
    padding: 8px 12px;
    border-radius: 7px;
    transition: 0.25s;
}
section .socials .footnav .facebook:hover{
    color: white;
    text-shadow: 0 0 5px#feda77;
    background-color: #1877F2;
}
section .socials .footnav .tiktok{
    color: #010101;
    text-shadow: -1px -2px 0 #25f4ee, 2px 1px 0 #fe2c55;
    background-color: whitesmoke;
    padding: 8px 10px;
    border-radius: 7px;
    transition: 0.25s;
}
section .socials .footnav .tiktok:hover{
    color: white;
    background-color: #010101;
}
section .socials .footnav .twitter{
    color: #1877F2;
    padding: 8px 10px;
    text-shadow: 0px 0px 2px black, 0px 0px 12px white;
    background-color: whitesmoke;
    border-radius: 7px;
    transition: 0.25s;
}
section .socials .footnav .twitter:hover{
    color: white;
    text-shadow: 0 0 5px#feda77;
    background-color: #1877F2;
}
section .socials .footnav a{
    border: 3px solid rgb(0, 0, 0);
    border-radius: 15px !important;
}
section .socials .footnav a:hover{
    border: 3px solid white;
}
